//==========================================================================================
//
//  Buttons
//
//==========================================================================================
//==========================================================================================
//  Component Variables
//==========================================================================================

//==========================================================================================
//  Base Styles
//==========================================================================================
button { // Reset
  font-family: inherit;
  font-size: inherit;
  background: none;
  padding: 0;
  border: none;
  margin: 0;
}

.btn {
  --color1: var(--hl1-color, var(--bg-color, #{$white}));
  --color2: var(--hl3-color, var(--text-color, #{$black}));
  background: var(--color1);
  border-color: var(--color1);
  border-width: 1px;
  border-style: solid;
  font-family: $font-stack-sp;
  position: relative;
  display: inline-block;
  line-height: 100%;
  text-decoration: none !important;
  vertical-align: middle;
  cursor: pointer;
  white-space: normal;
  padding: .75em 1.5em;
  user-select: none;
  touch-action: manipulation;
  z-index: 1;
  font-size: 1rem;
  text-align: center;
  font-weight: 700;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin: 5px 10px 10px 5px;

  box-shadow: 5px 5px var(--color2),
              -1px -1px var(--color2),
              -1px 1px var(--color2),
              1px -1px var(--color2) ;

  &:hover,
  &:focus {
    outline: none;
    border-color:  var(--color2);
  }
}

[disabled],
[disabled] button,
[disabled] a,
.disabled,
.disabled button,
.disabled a {
  cursor: not-allowed;
  opacity: 0.65;
  pointer-events: none;
}

//==========================================================================================
//  Modifiers
//==========================================================================================
.btn--full {
  width: 100%;
}