backend:
  name: git-gateway
  branch: master

media_folder: static/img
public_folder: /img

collections:
  - name: "pages"
    label: "Pages"
    files:
      - file: "src/pages/index.md"
        label: "Landing Page"
        name: "index"
        fields:
          - { label: "Template Key", name: "templateKey", widget: "hidden", default: "index-page" }
          - { label: Title, name: title, widget: string }
          - { label: "What's my name?", name: name, widget: string }
          - { label: "What it do?", name: itdo, widget: string }
          - { label: "Pitch yo'selfy!", name: pitch, widget: markdown }
          - { label: "Let's get social!", name: social, widget: list, 
              fields: [
                {label: "#", name: "id", widget: "string"},
                {label: "Name", name: "name", widget: "string"},
                {label: "URL", name: "url", widget: "string"}
              ]
            }

      - file: "src/pages/resume/index.md"
        label: "Resume"
        name: "resume"
        fields:
          - { label: "Template Key", name: "templateKey", widget: "hidden", default: "resume-page" }
          - { label: "Title", name: "title", widget: "string" }
          - { label: "Personal Statement", name: "personalStatement", widget: "markdown" }
          
          - { label: Skills, name: skills, widget: object,
              fields: [
                { label: "", name: skills, widget: list, 
                  fields: [
                    { label: "Name", name: "name", widget: "string"},
                    { label: "LVL", name: "level", widget: "number", default: 50, valueType: int, min: 1, max: 100 },
                    { label: "Keywords", name: "keywords", widget: "list",
                      fields: [
                        {label: "#", name: "id", widget: "string"}, 
                        {label: "Name", name: "name", widget: "string"}
                      ]
                    }
                  ]
                }
              ]
            }

          - { label: Experience, name: experience, widget: object,
              fields: [
                { label: "", name: experience, widget: list, 
                  fields: [
                    { label: "Title", name: "title", widget: "string"},
                    { label: "Type", name: "type", widget: "select", options: ["job", "school"]},
                    { label: "Establishment", name: "establishment", widget: "string"},
                    { label: "Start Date", name: "startDate", widget: "date"},
                    { label: "End Date", name: "endDate", widget: "date"},
                    { label: "TL;DR", name: "tldr", widget: "markdown"},
                    { label: "Description", name: "description", widget: "markdown"},
                    { label: "Keywords", name: "keywords", widget: "list",
                      fields: [
                        {label: "#", name: "id", widget: "string"}, 
                        {label: "Name", name: "name", widget: "string"}
                      ]
                    }
                  ]
                }
              ]
            }

  - name: "blog"
    label: "Blog"
    folder: "src/pages/blog"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - {label: "Template Key", name: "templateKey", widget: "hidden", default: "blog-post"}
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Publish Date", name: "date", widget: "datetime"}
      - {label: "Description", name: "description", widget: "text"}
      - {label: "Body", name: "body", widget: "markdown"}
      - {label: "Tags", name: "tags", widget: "list"}