//==========================================================================================
// Highlight
// 
//==========================================================================================
$colour-themes: (
  "grey": (
    $grey-1,
    $grey-2,
    $grey-3
  ),
  "green": (
    $green-1,
    $green-2,
    $green-3
  ),
  "yellow": (
    $yellow-1,
    $yellow-2,
    $yellow-3
  ),
  "red": (
    $red-1,
    $red-2,
    $red-3
  ),
  "blue": (
    $blue-1,
    $blue-2,
    $blue-3
  )
);
  
// LOOP EACH -
@each $theme-name, $theme-colors in $colour-themes {
  // Set some local variables for clarity -
  // Background color
  $hightlight1: nth($theme-colors, 1);
  $hightlight2: nth($theme-colors, 2);
  $hightlight3: nth($theme-colors, 2);

  // Generate theme rules
  .highlight-#{$theme-name} {
    // Set base theme properties
    --hl1-color: #{$hightlight1};
    --hl2-color: #{$hightlight2};
    --hl3-color: #{$hightlight3};
  }
}