/* --------------------------------------------------------------------------------------------*/
/* GENERAL TYPOGRAPHY */
/* --------------------------------------------------------------------------------------------*/

html {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $font-stack;
  
    @include breakpoint(md) {
      font-size: 16px;
    }
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    margin-bottom: .5em;
    word-wrap: break-word;
    font-weight: bold;
  }
  
  h1, .h1 {
    font-size: 36px;
    line-height: 1.25;

    @include breakpoint(xs) {
      font-size: 48px;
      line-height: 1;
    }

    @include breakpoint(md) {
      font-size: 60px;
    }
  }
  
  h2, .h2 {
    font-size: 30px;
    line-height: 1.25;

    @include breakpoint(xs) {
      font-size: 36px;
    }

    @include breakpoint(md) {
      font-size: 48px;
      line-height: 1;
    }
  }
  h3, .h3 {
    font-size: 24px;
    line-height: 1.25;

    @include breakpoint(xs) {
      font-size: 30px;
    }

    @include breakpoint(md) {
      font-size: 36px;
    }
  }
  
  h4, .h4 {
    font-size: 20px;
    line-height: 1.25;

    @include breakpoint(xs) {
      font-size: 24px;
    }

    @include breakpoint(md) {
      font-size: 30px;
    }
  }
  
  h5, .h5 {
    font-size: 18px;
    line-height: 1.25;

    @include breakpoint(xs) {
      font-size: 20px;
    }

    @include breakpoint(md) {
      font-size: 24px;
    }
  }
  
  h6, .h6 {
    font-size: 1rem;
    line-height: 1.5;

    @include breakpoint(xs) {
      font-size: 18px;
      line-height: 1.25;
    }

    @include breakpoint(md) {
      font-size: 20px;
    }
  }
  
  p, .p {
    margin: 0;
    margin-bottom: .75em;
    font-size: 1rem;
    font-weight: normal;
  }
  
  li, label {
    margin: 0;
    margin-bottom: .5em;
  }

  .ul-horizontal {
    display: block;
    overflow: hidden;

    &:after {
      content: "";
      clear: both;
    }

    li {
      float: left;

      & + li {
        margin-left: $column-spacing;
      }
    }
  }

  .ul-styled {
    --color1: var(--hl3-color, var(--text-color, #{$black}));
    li {
      padding-left: $column-spacing*1.5;
      position: relative;

      &::after {
        content: "";
        width: 7px;
        height: 7px;
        background: var(--color1);
        position: absolute;
        top: .5em;
        left: 0;
        border-radius: 50%;
      }
    }
  }
  
  ul, ol {
    padding: 0;
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  sub, sup {
    font-size: .5em;
  }
  
  sup {
    top: -.5em;
  }
  
  /* -----------------------------*/
  /* TYPE */
  
  .date, .read {
    font-weight: 500;
  }
  
  /* -----------------------------*/
  /* STYLE */
  .text-playful {
    font-family: $font-stack-sp;
  }

  .text-uppercase {
    text-transform: uppercase;
  }
  
  .text-nocase {
    text-transform: none;
  }

  .text-space {
    letter-spacing: .05em;
  }
  
  /* -----------------------------*/
  /* SIZE */
  
  .text-small {
    font-size: 0.75em;
    line-height: 1em;
    display: inline-block;
  }
  
  .text-tiny {
    font-size: 0.5em;
    line-height: 1em;
    display: inline-block;
  }
  
  /* -----------------------------*/
  /* WEIGHT */
  
  .text-light {
    font-weight: 300;
  }
  
  .text-regular {
    font-weight: normal;
  }
  
  .text-bold {
    font-weight: bold;
  }
  
  /* -----------------------------*/
  /* SELECTION */
  ::selection {
    background: var(--text-color, #{$black});
    color: var(--bg-color, #{$white});
  }
  