/* ---------------------------------------------------------------------------------*/
/*  SCSS VARIABLES
/* ---------------------------------------------------------------------------------*/

/* -----------------------------*/
/* Colours */
/* -----------------------------*/

/* Primary */
$white: #fffbf9;
$grey-1: #dce0d5;
$grey-2: #bab2b0;
$grey-3: #8e7d7d;
$black: #242328;

$green-1: #edf2d7;
$green-2: #C6d7BC;
$green-3: #a4c4a8;

$yellow-1: #fff696;
$yellow-2: #FBE647;
$yellow-3: #efca45;

$red-1: #ef9d88;
$red-2: #e25353;
$red-3: #c92432;

$blue-1: #4c9dd3;
$blue-2: #4775ad;
$blue-3: #3c4f76;


$eqtr: #D5035E;
$nnn: #F9E814;
$wo: #FF8E2B;


/* -----------------------------*/
/* TEXT */
/* -----------------------------*/
@import url('https://fonts.googleapis.com/css?family=Dosis:700');
$font-stack: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$font-stack-sp: 'Dosis', sans-serif;

/* ---------------------------------------------------------------------------------*/
/* DIMENSIONS / SPACING
/* ---------------------------------------------------------------------------------*/
/* BREAKPOINTS */
$xs: 480px; // mobile
$sm: 768px; // tablet
$md: 992px; // small desktop
$lg: 1200px; // desktop
$mx: 1681px; // large desktop

/* SPACING */
$container-max-width: 1200px;

$vertical-spacing: 8vh;
$horizontal-spacing: 5vw;
$column-spacing: 10px;
$internal-vertical-spacing: 2rem;
